<html>
  <head>
    <title>{{ title }}</title>
  </head>
  <body>
    {% for message in messages %}
    <p class="{{ message[0] }}">{{ message[1] }}</p>
    {% end %}
    {% block content %}{% end %}
  </body>
</html>
