{% extends "base.html" %}

{% autoescape linkify %}

{% block content %}
<pre>
{% for msg in feed %}<a href="{{ msg["url"] }}">#{{ msg["msgid"] }}</a> ({{ 
datetime.datetime.fromtimestamp(int(msg['ts'])).strftime('%X')
}}) {{ msg['user'] }}: {{ msg['text'] }}</br>{% end %}
</pre>
{% end %}
