{% extends "base.html" %}

{% block content %}
{% if result != "OK" %}
<form method="POST">
    {% module xsrf_form_html() %}
    {% for label, name, ftype, value in form %}
    {% if label is not None %}
    <label for="{{ name }}">{{ label }}:</label>
    {% end %}
    <input
        type="{{ ftype }}"
        {% if name is not None %}name="{{ name }}"{% end %}
        {% if value is not None %}value="{{ value }}"{% end %}
    />
    </br>
    {% end %}
</form>
{% end %}
{% end %}
